.Logo {
  max-width: 260px;
}
@media (max-width: 800px) {
  .Logo {
    max-width: 105px;
  }
}

.Menu {
  background: var(--black);
  border-bottom: 2px solid var(--primary);
  height: 94px;
  left: 0;
  padding-right: 5%;
  padding-left: 5%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  --bodyPaddingTop: 94px;
  padding-top: var(--bodyPaddingTop);
}

@media (max-width: 800px) {
  .Menu {
    height: 40px;

    justify-content: center;
  }

  body {
    --bodyPaddingTop: 40px;
    padding-top: var(--bodyPaddingTop);
  }
}

.ButtonLink {
  border: 1px solid var(--white);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  outline: none;
  padding: 16px 24px;
  text-decoration: none;
  transition: opacity 0.3s;
}

.ButtonLink:hover,
.ButtonLink:focus {
  opacity: 0.5;
}

@media (max-width: 800px) {
  a.ButtonLink {
    background: var(--primary);
    border: 0;
    border-radius: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
  }
}
